<h1>Edit form</h1>

<form action = "http://localhost:3000/update_photo/:id">

  <div>
    <label for="id">ID:</label>
    <input type="text" name="id" value="<%= @the_photo.id %>">
  </div>

  <div>
    <label for="photo_caption">Caption:</label>
    <input type="text" name="the_caption" value="<%= @the_photo.caption %>">
  </div>

  <div>
    <label for="photo_image_url">Image URL:</label>
    <input type="photo_image_url" name="text" value="<%= @the_photo.source %>">
  </div>

  <div>
    <input type="submit" value="Edit photo">
  </div>
</form>
